# importing libraries/importing data

In [373]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#reading data

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# saving id

In [374]:
train_ID= train['pet_id']
test_ID=test['pet_id']
print('size of training data={}'.format(train.shape))
print('size of test data={}'.format(test.shape))

size of training data=(18834, 11)
size of test data=(8072, 9)

In [375]:
train.drop(['pet_id'],axis = 1,inplace = True)
test.drop(['pet_id'],axis = 1,inplace = True)

In [376]:
test.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [377]:
train.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,10-07-2016 00:00,21-09-2016 16:25,2.0,Brown Tabby,0.80,7.78,13,9,0,1
1,21-11-2013 00:00,27-12-2018 17:47,1.0,White,0.72,14.19,13,9,0,2
2,28-09-2014 00:00,19-10-2016 08:24,NaN,Brown,0.15,40.90,15,4,2,4
3,31-12-2016 00:00,25-01-2019 18:30,1.0,White,0.62,17.82,0,1,0,2
4,28-09-2017 00:00,19-11-2017 09:38,2.0,Black,0.50,11.06,18,4,0,1

# target labels

In [378]:
ntrain = train.shape[0]
ntest = test.shape[0]
y_1 = train.breed_category
y_2 = train.pet_category

# feature enginerring

combining test and train datasets

In [379]:
all_data = pd.concat((train,test)).reset_index(drop=True)

In [380]:
all_data.drop(['breed_category','pet_category'],axis =1,inplace=True)

In [381]:
all_data.head()

,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,10-07-2016 00:00,21-09-2016 16:25,2.0,Brown Tabby,0.80,7.78,13,9
1,21-11-2013 00:00,27-12-2018 17:47,1.0,White,0.72,14.19,13,9
2,28-09-2014 00:00,19-10-2016 08:24,NaN,Brown,0.15,40.90,15,4
3,31-12-2016 00:00,25-01-2019 18:30,1.0,White,0.62,17.82,0,1
4,28-09-2017 00:00,19-11-2017 09:38,2.0,Black,0.50,11.06,18,4

In [382]:
all_data.drop(['issue_date','listing_date'],axis = 1,inplace = True)

In [383]:
all_data.head()

   condition   color_type  length(m)  height(cm)  X1  X2
0        2.0  Brown Tabby       0.80        7.78  13   9
1        1.0        White       0.72       14.19  13   9
2        NaN        Brown       0.15       40.90  15   4
3        1.0        White       0.62       17.82   0   1
4        2.0        Black       0.50       11.06  18   4

In [384]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26906 entries, 0 to 26905
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   condition   24810 non-null  float64
 1   color_type  26906 non-null  object
 2   length(m)   26906 non-null  float64
 3   height(cm)  26906 non-null  float64
 4   X1          26906 non-null  int64
 5   X2          26906 non-null  int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.2+ MB

In [385]:
all_data['condition'].value_counts()

1.0    9747
0.0    8966
2.0    6097
Name: condition, dtype: int64

In [386]:
all_data = all_data.fillna((1.0+0.0+2.0)/3)

In [387]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26906 entries, 0 to 26905
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   condition   26906 non-null  float64
 1   color_type  26906 non-null  object
 2   length(m)   26906 non-null  float64
 3   height(cm)  26906 non-null  float64
 4   X1          26906 non-null  int64
 5   X2          26906 non-null  int64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.2+ MB

In [388]:
all_data['length(m)'].value_counts()

0.99    310
0.76    301
0.85    299
0.19    296
0.20    296
       ...
0.26    233
0.34    224
0.17    219
1.00    142
0.00    137
Name: length(m), Length: 101, dtype: int64

In [389]:
print(len(all_data[all_data['length(m)'] == 0]))

137

converting length(m) to length(cm)

In [390]:
all_data['length(cm)'] = all_data['length(m)'].apply(lambda x:x*100)

In [391]:
all_data.drop('length(m)',axis = 1,inplace= True)

In [392]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26906 entries, 0 to 26905
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   condition   26906 non-null  float64
 1   color_type  26906 non-null  object
 2   height(cm)  26906 non-null  float64
 3   X1          26906 non-null  int64
 4   X2          26906 non-null  int64
 5   length(cm)  26906 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 1.2+ MB

In [393]:
all_data

       condition   color_type  height(cm)  X1  X2  length(cm)
0            2.0  Brown Tabby        7.78  13   9        80.0
1            1.0        White       14.19  13   9        72.0
2            1.0        Brown       40.90  15   4        15.0
3            1.0        White       17.82   0   1        62.0
4            2.0        Black       11.06  18   4        50.0
...          ...          ...         ...  ..  ..         ...
26901        2.0        Brown       36.08  13   9        82.0
26902        0.0          Tan       27.54  13   9        49.0
26903        0.0        Black       37.19   0   7        98.0
26904        1.0        Black       23.83   0   2        79.0
26905        0.0        Black       24.51   0   1        64.0

[26906 rows x 6 columns]

# Encoding

In [394]:
#frequency Encoding
feq_encode = all_data.groupby('color_type').size()/len(all_data)
print(feq_encode)

all_data.loc[:,'color_type'] = all_data['color_type'].map(feq_encode)

color_type
Agouti               0.000223
Apricot              0.000595
Black                0.244369
Black Brindle        0.003419
Black Smoke          0.001561
Black Tabby          0.003196
Black Tiger          0.000037
Blue                 0.045901
Blue Cream           0.000557
Blue Merle           0.004980
Blue Point           0.000855
Blue Smoke           0.000446
Blue Tabby           0.020702
Blue Tick            0.001524
Blue Tiger           0.000409
Brown                0.096335
Brown Brindle        0.026685
Brown Merle          0.002267
Brown Tabby          0.089162
Brown Tiger          0.000149
Buff                 0.006801
Calico               0.018397
Calico Point         0.000632
Chocolate            0.014569
Chocolate Point      0.000632
Cream                0.008920
Cream Tabby          0.009663
Fawn                 0.007991
Flame Point          0.002750
Gold                 0.001487
Gray                 0.016205
Gray Tabby           0.003568
Green                0.000483
Lilac Point          0.000818
Liver                0.000149
Liver Tick           0.000074
Lynx Point           0.006430
Orange               0.002081
Orange Tabby         0.041738
Pink                 0.000409
Red                  0.027577
Red Merle            0.000929
Red Tick             0.001264
Sable                0.008623
Seal Point           0.004274
Silver               0.001264
Silver Lynx Point    0.000260
Silver Tabby         0.000966
Tan                  0.071880
Torbie               0.012674
Tortie               0.019029
Tortie Point         0.001264
Tricolor             0.024679
White                0.129562
Yellow               0.007731
Yellow Brindle       0.000855
dtype: float64

In [395]:
all_data.head()

   condition  color_type  height(cm)  X1  X2  length(cm)
0        2.0    0.089162        7.78  13   9        80.0
1        1.0    0.129562       14.19  13   9        72.0
2        1.0    0.096335       40.90  15   4        15.0
3        1.0    0.129562       17.82   0   1        62.0
4        2.0    0.244369       11.06  18   4        50.0

# getting dummies and splitting data

In [396]:
all_data = pd.get_dummies(all_data)
print(all_data.shape)

(26906, 6)

In [397]:
train = all_data[:ntrain]
test = all_data[ntrain:]

In [398]:
test

       condition  color_type  height(cm)  X1  X2  length(cm)
18834        0.0    0.244369       42.73   0   7        87.0
18835        1.0    0.041738        6.71   0   1         6.0
18836        1.0    0.244369       41.21   0   7        24.0
18837        1.0    0.244369        8.46   7   1        29.0
18838        1.0    0.096335       30.92   0   7        71.0
...          ...         ...         ...  ..  ..         ...
26901        2.0    0.096335       36.08  13   9        82.0
26902        0.0    0.071880       27.54  13   9        49.0
26903        0.0    0.244369       37.19   0   7        98.0
26904        1.0    0.244369       23.83   0   2        79.0
26905        0.0    0.244369       24.51   0   1        64.0

[8072 rows x 6 columns]

# training the dataset

In [399]:
## Hyper Parameters

params={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30,0.50 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}

In [400]:
import xgboost as xgb

breed_precidition

In [401]:
from sklearn.model_selection import RandomizedSearchCV
xgb_model = xgb.XGBClassifier()
random_search=RandomizedSearchCV(xgb_model,param_distributions=params,n_iter=5,n_jobs=-1,cv=5,verbose=3)
random_search.fit(train,y_1)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  25 | elapsed:   28.2s remaining:    8.8s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:   31.7s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=None, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n...
                                           verbosity=None),
                   iid='deprecated', n_iter=5, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5,
                                                             0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3, 0.5],
                                        'max_depth': [3, 4, 5, 6, 8, 10, 12,
                                                      15],
                                        'min_child_weight': [1, 3, 5, 7]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=3)

In [402]:
random_search.best_params_

{'min_child_weight': 7,
 'max_depth': 3,
 'learning_rate': 0.2,
 'gamma': 0.2,
 'colsample_bytree': 0.5}

In [403]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0.2, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.2, max_delta_step=0, max_depth=3,
              min_child_weight=7, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [404]:
train_1 = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0.0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.3, max_delta_step=0, max_depth=3,
              min_child_weight=7, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [405]:
train_1.fit(train,y_1)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0.0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.3, max_delta_step=0, max_depth=3,
              min_child_weight=7, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [406]:
y_1_pred = train_1.predict(test)

In [407]:
y_1_pred

array([1, 0, 0, ..., 1, 2, 1], dtype=int64)

pet_prediction

In [408]:
xgb_model = xgb.XGBClassifier()

random_search=RandomizedSearchCV(xgb_model,param_distributions=params,n_iter=5,n_jobs=-1,cv=5,verbose=3)
random_search.fit(train,y_2)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  25 | elapsed:   21.6s remaining:    6.8s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:   26.3s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=None, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n...
                                           verbosity=None),
                   iid='deprecated', n_iter=5, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5,
                                                             0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3, 0.5],
                                        'max_depth': [3, 4, 5, 6, 8, 10, 12,
                                                      15],
                                        'min_child_weight': [1, 3, 5, 7]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=3)

In [409]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.4, gamma=0.0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.05, max_delta_step=0, max_depth=15,
              min_child_weight=3, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [410]:
random_search.best_params_

{'min_child_weight': 3,
 'max_depth': 15,
 'learning_rate': 0.05,
 'gamma': 0.0,
 'colsample_bytree': 0.4}

In [411]:
train_2 = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, gamma=0.4, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.15, max_delta_step=0, max_depth=6,
              min_child_weight=3, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [412]:
train_2.fit(train,y_2)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, gamma=0.4, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.15, max_delta_step=0, max_depth=6,
              min_child_weight=3, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [413]:
y_2_pred = train_2.predict(test)

In [414]:
y_2_pred

array([2, 1, 2, ..., 2, 4, 2], dtype=int64)

# submission

In [417]:
sub = pd.DataFrame()
sub['pet_id'] = test_ID
sub['breed_category'] = y_1_pred
sub['pet_category']  = y_2_pred
sub.to_csv('output_1.csv',index=False)